time-label {
    display: block;
    font-family: Arial, sans-serif;
    font-size: 10px;
    margin: 0 5px;
    padding: 14px 0;
    height: 30px;
    box-sizing: border-box;
    pointer-events: none; // disable cursor highlighting
    span {
        display: inline-block;
        width: 7px;
        text-align: center;
        color: #fff;
        &.divider {
            width: 3px;
        }
    }
}
